appdirs==1.4.4+computecanada
argparse_dataclass==2.0.0+computecanada
asttokens==3.0.0+computecanada
attrs==25.4.0+computecanada
blosc2 @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/blosc2/blosc2-2.2.9
Bottleneck==1.4.2+computecanada
cached-property @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/cachedproperty/cached-property-1.5.2
cachetools==6.2.2
certifi==2024.6.2
cftime @ file:///tmp/ebuser/avx512/netCDF/4.9.2/GCC-12.3.0/cftime/cftime-1.6.2
charset_normalizer==3.4.4+computecanada
click==8.3.1+computecanada
cloudpickle==3.1.2+computecanada
comm==0.2.2+computecanada
conda_inject==1.3.2+computecanada
configargparse==1.7.1+computecanada
connection_pool==0.0.3+computecanada
contourpy==1.3.1+computecanada
cplex==22.1.2.0
cycler==0.12.1+computecanada
dask==2025.11.0
datrie==0.8.2+computecanada
debugpy==1.8.12+computecanada
decorator==5.1.1+computecanada
deprecation==2.1.0+computecanada
dill==0.4.0+computecanada
docplex==2.30.251+computecanada
docutils==0.22.3
dpath==2.2.0+computecanada
duckdb==1.2.0+computecanada
executing==2.2.0+computecanada
fastjsonschema==2.21.2+computecanada
fonttools==4.55.8+computecanada
fsspec==2025.12.0
geopandas==1.1.1+computecanada
gitdb==4.0.12+computecanada
gitpython==3.1.45+computecanada
google-api-core==2.28.1
google-auth==2.43.0
google-cloud-core==2.5.0
google-cloud-storage==3.6.0
google-resumable-media==2.8.0
google_crc32c==1.6.0+computecanada
googleapis-common-protos==1.72.0
graphviz==0.21+computecanada
gurobipy==12.0.0+computecanada
h5py @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/h5py/h5py-3.10.0
highspy==1.11.0+computecanada
humanfriendly==10.0+computecanada
idna==3.11+computecanada
immutables==0.20+computecanada
importlib_metadata==8.7.0+computecanada
ipykernel==6.29.5+computecanada
ipython==8.32.0+computecanada
ipywidgets==8.1.5+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
jsonschema==4.25.1+computecanada
jsonschema_specifications==2025.9.1+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.7.2+computecanada
jupyterlab_widgets==3.0.13+computecanada
kiwisolver==1.4.8+computecanada
linopy==0.5.5+computecanada
locket==1.0.0+computecanada
MarkupSafe==3.0.2+computecanada
matplotlib==3.10.0+computecanada
matplotlib_inline==0.1.7+computecanada
mpmath==1.3.0+computecanada
msgpack==1.1.2+computecanada
multiprocess==0.70.18+computecanada
nbformat==5.10.4+computecanada
ndindex @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/ndindex/ndindex-1.7
nest_asyncio==1.6.0+computecanada
netCDF4 @ file:///tmp/ebuser/avx512/netCDF/4.9.2/GCC-12.3.0/netCDF4/netCDF4-1.6.4
networkx==3.6+computecanada
nose==1.3.7+computecanada
numexpr @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/numexpr/numexpr-2.8.7
numpy==1.26.4+computecanada
packaging==24.2+computecanada
pandas==2.2.3+computecanada
parso==0.8.4+computecanada
partd==1.4.2+computecanada
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
platformdirs==3.10.0+computecanada
polars==1.35.2
polars-runtime-32==1.35.2
prompt_toolkit==3.0.50+computecanada
proto_plus==1.26.1+computecanada
protobuf==6.33.1
psutil==6.1.1+computecanada
ptyprocess==0.7.0+computecanada
PuLP==2.8.0+computecanada
pure_eval==0.2.3+computecanada
py-cpuinfo @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/pycpuinfo/py-cpuinfo-9.0.0
pyarrow @ file:///tmp/ebuser/avx512/Arrow/21.0.0/GCCcore-13.3-gentoo/arrow/python
pyasn1==0.6.1+computecanada
pyasn1_modules==0.4.2+computecanada
pygments==2.19.1+computecanada
pyogrio==0.10.0+computecanada
pyparsing==3.2.1+computecanada
pyproj==3.6.1+computecanada
pypsa==0.30.2
python_dateutil==2.9.0.post0+computecanada
pytz==2025.1+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.2.1+computecanada
referencing==0.37.0+computecanada
requests==2.32.5+computecanada
reretry==0.11.8+computecanada
rpds_py==0.27.0+computecanada
rsa==4.9.1+computecanada
salib==1.5.1+computecanada
scipy==1.15.1+computecanada
seaborn==0.13.2+computecanada
shapely==2.0.7+computecanada
six==1.17.0+computecanada
smart_open==7.5.0
smmap==5.0.2+computecanada
snakemake==8.20.5
snakemake-executor-plugin-slurm==2.0.1
snakemake-executor-plugin-slurm-jobstep==0.3.0
snakemake-interface-common==1.22.0
snakemake-interface-executor-plugins==9.3.9
snakemake-interface-report-plugins==1.3.0
snakemake-interface-storage-plugins==3.5.0
stack_data==0.6.3+computecanada
sympy==1.13.3+computecanada
tables @ file:///tmp/ebuser/avx512/HDF5/1.14.2/GCC-12.3.0/tables/tables-3.9.1
tabulate==0.9.0+computecanada
throttler==1.2.2+computecanada
toolz==1.1.0+computecanada
toposort==1.10+computecanada
tornado==6.4.2+computecanada
tqdm==4.67.1+computecanada
traitlets==5.14.3+computecanada
typing_extensions==4.12.2+computecanada
tzdata==2025.1+computecanada
urllib3==2.5.0+computecanada
validators==0.35.0+computecanada
wcwidth==0.2.13+computecanada
widgetsnbextension==4.0.13+computecanada
wrapt==1.17.3+computecanada
xarray==2025.4.0
yte==1.9.4
zipp==3.23.0+computecanada
